.buttons{
    margin-left: 10px;
   .btn-large{
    margin-right:5px;
    } 
}

.modal{

    height: 60%;

    textarea{
        position: relative;
        top: 10%;
        width: 90%;
        height: 200px;
        resize: none;
    }


}
